.l-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  padding: 0 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  @include breakpoint(small-up) {
    flex-direction: column;
    justify-content: space-between;
  }
  @include breakpoint(large-up) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.c-navbar {
  @include breakpoint(small-up) {
    width: 100%;
  }
  @include breakpoint(large-up) {
    width: 70%;
  }
}
.c-nav__menu {
  display: block;
  @include breakpoint(small-up) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
  }
}

.c-nav__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  font-family: "Spartan", helvetica, arial, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  color: $white;
  text-align: center;
  cursor: pointer;
  opacity: 0.75;
  transition: all 0.2s ease-in-out;
  gap: 1rem;
  &:hover {
    opacity: 1;
  }
  & label{
    height: 100%;
    width: 100%;
  }
}

@each $color in $colors {
  .c-nav__item:nth-child(#{index($colors, $color)}) {
    @include navbarBefore($color);
  }
  input[value="#{index($colors, $color) - 1}"]:checked + label {
    color: $color;
  }
  .c-nav__item:nth-child(#{index($colors, $color)}) .c-dot {
    background-color: $color;
  }
}

.c-header__title {
  font-family: "Antonio", helvetica, arial, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  color: $white;
}

.c-mobile__button {
  @include breakpoint(small-up) {
    display: none;
  }
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  transition: 0.2s all ease;

  @include resetButton;
  &::before {
    @include buttonConfig(-10px);
    box-shadow: 0 10px 0 $white;
  }
  &::after {
    @include buttonConfig(10px);
  }
}
.c-mobile__button.u-button--active {
  z-index: 11;
  &::before {
    box-shadow: 0 0 0 $white;
    transform: translateY(0px) rotate(45deg);
  }
  &::after {
    transform: translateY(0px) rotate(-45deg);
  }
}
.c-dot {
  display: none;
}
@include breakpoint(small-only) {
  .c-nav__menu {
    position: absolute;
    top: 54.5px;
    left: -300px;
    display: grid;
    width: 0;
    height: 0;
    height: 100vh;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
    background: $black;
    transition: 0.7s all ease;
    grid-template-rows: repeat(8, 65px);
    justify-items: center;
  }
  .c-nav__item {
    position: relative;
    display: flex;
    align-items: center !important;
    justify-content: flex-start !important;
    width: 90%;
    padding: 1rem 0;
    font-size: 1rem;
    opacity: 1;
    & label {
      display: flex;
      align-items: center !important;
      justify-content: flex-start !important;
      text-align: left;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
  }
  .c-nav__item:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .c-navbar.u-navbar--active .c-nav__menu {
    left: 0;
    width: 100%;
    visibility: visible;
  }
  .c-dot {
    display: inline;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    justify-self: center;
  }
}
