.l-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 75px;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  @include breakpoint(small-up) {
    flex-direction: column;
    justify-content: space-between;
  }
  @include breakpoint(large-up) {
    flex-direction: row;
    justify-content: space-between;
  }
}
