.c-mobile__button.u-button--active {
  z-index: 11;
  &::before {
    box-shadow: 0 0 0 $white;
    transform: translateY(0px) rotate(45deg);
  }
  &::after {
    transform: translateY(0px) rotate(-45deg);
  }
}
.c-navbar.u-navbar--active .c-nav__menu {
  left: 0;
  width: 100%;
  visibility: visible;
}
