// ==========================================================================
// Colors
// ==========================================================================
$white: rgb(255, 255, 255);
$black: rgb(7, 7, 36);
$darkGrey: rgb(56, 56, 79);
$lightGrey: rgb(131, 131, 145);

//planet colors
$mercury: rgb(65, 158, 187);
$venus: rgb(237, 162, 73);
$earth: rgb(45, 104, 240);
$mars: rgb(209, 76, 50);
$jupiter: rgb(216, 58, 52);
$saturn: rgb(205, 81, 32);
$uranus: rgb(30, 193, 162);
$neptune: rgb(109, 46, 213);

$colors: (
  $mercury,
  $venus,
  $earth,
  $mars,
  $jupiter,
  $saturn,
  $uranus,
  $neptune
);
// ==========================================================================
// Measures
// ==========================================================================

$global-max-width-raw: 780;
$global-max-width: rem($global-max-width-raw);
$global-font-size: rem(18);
$global-line-height: 1.5;
$global-radius: rem(6);
$global-module-size: rem(30);

// ==========================================================================
// Transitions
// ==========================================================================

$transition-duration: 305ms;
$transition-duration-complex: 385ms;
$transition-duration-entrance: 235ms;
$transition-duration-exit: 205ms;
$transition-duration-fast: 150ms;

$transition-function-ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$transition-function-ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$transition-function-ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$transition-function-ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$transition-function-ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$transition-function-ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
$transition-function-elastic: cubic-bezier(0.175, 0.885, 0.41, 1.46);

// ==========================================================================
// Others
// ==========================================================================
